<?xml version="1.0" encoding="UTF-8"?>
<!-- the order of plugins is important. they are executed in the same order defined here,
    starting with the plugins defined in the requested section, followed by the globals -->
<crimp>
    <!-- root namespace declarations - these are GLOBAL to ALL of CRIMP -->
    <debug>on</debug><!-- 'on' or 'off'. can appear in a <section> -->
    <!-- this ADDs to the title set in the template you choose, so best to
    either use this, and leave the template with an empty <title></title> or
    set the title in the <title> tags inside your template and leave this blank
    -->
    <sitetitle></sitetitle>
    <!--<titleorder>forward</titleorder>-->
    <!--<titleseparator> - </titleseparator>-->
    <vardir>./_crimp/var</vardir>
    <errordir>./_crimp/errordocs</errordir>
    <defaultlanguage>en</defaultlanguage>
    <template>./_crimp/templates/default-crimp.html</template>
    <plugin name="breadCrumbs">
        <position>top</position><!-- either 'top', 'bottom' or 'both' -->
    </plugin>
    <plugin name="perl">
        <plugin>Snow</plugin>
        <parameter>on</parameter>
        <defer>no</defer>
    </plugin>
    <plugin name="perl">
        <plugin>PageVote</plugin>
        <parameter>Default</parameter>
        <defer>no</defer>
    </plugin>
    <plugin name="perl">
        <plugin>ButtonBar</plugin>
        <parameter>Default</parameter>
        <defer>yes</defer>
    </plugin>
    <!-- end root namespace declarations -->

    <!-- below here goes the individual section declarations -->
    <section name="/">
        <plugin name="contentDirectory">
            <directory>./_crimp/docs</directory>
        </plugin>
        <plugin name="fileList">
            <!-- fileList relies upon there being a contentDirectory plugin
                defined for the same section or in the root namespace -->
            <orientation>horizontal</orientation>
        </plugin>
    </section>

    <section name="/blog">
        <plugin name="perl">
            <plugin>FlatBlog</plugin>
            <parameter>flatblog.example.html</parameter>
            <defer>no</defer>
        </plugin>
    </section>
</crimp>
