<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Left</title>
</head>
<body>
<h1>Bluerobot-Left<br/>
</h1>
This is a simple two column layout with a left menu box. By modifying
the stylesheet, this layout can serve as the basis for many standard
two column layouts. As is the case with most layouts in the Reservoir,
the order of elements (header, content, menu) in the HTML source is
friendly and accessible to mobile computers, text-based browsers, and
alternative/accessible devices.<br/>
<br/>
Original design by <a href="http://bluerobot.com/">bluerobot.com</a>
and adapted for CRIMP by The Crimp Team.<br/>
</body>
</html>
