# USE REWRITE ENGINE INSTEAD OF THE ERRORDOCUMENT DIRECTIVES #
#Options -Indexes
#ErrorDocument 403 /cgi-bin/index.pl
#ErrorDocument 404 /cgi-bin/index.pl

<ifModule mod_rewrite.c>
rewriteengine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /cgi-bin/index.pl [L,QSA]
</ifModule>
