<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html;charset=ISO-8859-1" http-equiv="Content-Type">
  <title>CRIMP</title>
  <meta content="The CRIMP Team" name="author">
  <meta content="Content Redirection Internet Management Program"
 name="description">
</head>
<body>
<table style="text-align: left; width: 100%;" border="0" cellpadding="2"
 cellspacing="2">
  <tbody>
    <tr style="color: rgb(255, 255, 255);">
      <td style="background-color: rgb(0, 0, 0);">
      <h1 style="background-color: rgb(0, 0, 0); text-align: center;"><big><big><span
 style="font-family: Helvetica,Arial,sans-serif;">CRIMP</span></big></big></h1>
      <div style="text-align: center;"><span
 style="font-family: Helvetica,Arial,sans-serif;">Content
Redirection
Internet Management Program</span><br>
      <div style="text-align: left;">Anything
starts here &gt;&gt;</div>
      </div>
      </td>
    </tr>
    <tr>
      <td>
      <div style="text-align: center;"><small
 style="font-family: Fixed;"><small><small><span
 style="color: rgb(51, 204, 255);">&lt;!--PAGE_CONTENT--&gt;</span></small></small></small><br>
      </div>
<!--PAGE_CONTENT--></td>
    </tr>
    <tr>
      <td style="background-color: rgb(0, 0, 0);"><span
 style="color: rgb(255, 255, 255);">&lt;&lt;
Anything stops here</span><br>
      <div style="text-align: center;"><img
 style="width: 88px; height: 33px;" alt="Crimp Logo"
 src="/pics/PoweredbyCrimp88x33.gif"></div>
      </td>
    </tr>
  </tbody>
</table>
<div style="text-align: center;"><small style="font-family: Fixed;"><small><small><span
 style="color: rgb(51, 204, 255);">&lt;!--DEBUG--&gt;</span></small></small></small><br>
</div>
<!--DEBUG-->&nbsp;
</body>
</html>
