#Global Options
#all files must default to standard redirection
#default options configure files for the local server only

DebugMode = page

DocumentTemplate = ../template/default-crimp.html

ButtonBar = Default
#ButtonBar = BlackRounded

#declare a sitewide navigation menu (not currently used)
#SiteMenu = SiteWide.mnu

#SiteTitle = CRIMP

#lets add some festive cheer - comment out to disable
#Snow = on

#Plugin Execution Order - LEAVE OUT DocumentTemplate - this will automatically be called last
PluginOrder = UserAuth,VirtualRedirect,ContentDirectory,ContentDatabase,BreadCrumbs,FileList,SiteMenu

[/]
PluginOrder = ContentDirectory,FileList,BreadCrumbs
FileList = horizontal
BreadCrumbs = top
ContentDirectory = ../cgi-bin/Crimp/docs/

############################################################
#It is recommended that these remain permanent             #

#Get the latest information on updates and news from CRIMP
[/crimp-news]
PluginOrder = CrimpNews,BreadCrumbs
CrimpNews = on
BreadCrumbs = top

#Local CRIMP Documentation
[/docs]
PluginOrder = ContentDirectory,FileList,BreadCrumbs
FileList = horizontal
BreadCrumbs = top
ContentDirectory = ../cgi-bin/Crimp/docs/
DocumentTemplate = ../template/default-crimp.html

#Module and CRIMP engine changes in this release
[/changes]
PluginOrder = ContentDirectory,FileList,BreadCrumbs
FileList = vertical
BreadCrumbs = top
ContentDirectory = ../cgi-bin/Crimp/Changes/
DocumentTemplate = off

############################################################
# Examples section
# To see these examples, type http://your-website[/directory]

[/blog]
PluginOrder = FlatBlog,BreadCrumbs
BreadCrumbs = top
FlatBlog = flatblog.html

[/google]
# for VirtualRedirect, always include the trailing slash on a non file
# this is for the url rewriting which takes place on the links and images
BreadCrumbs = top
VirtualRedirect = http://www.google.com/
#UserAuth = ../passwords.txt

[/downloads]
RobotsMeta = noindex,nofollow
PluginOrder = UserAuth,ContentListing,FileList,BreadCrumbs
BreadCrumbs = top
ContentListing = ../public_html/downloads

[/blue]
PluginOrder = ContentDirectory,FileList,BreadCrumbs
FileList = vertical
BreadCrumbs = top
DocumentTemplate = ../template/blue.html
ContentDirectory = ../cgi-bin/Crimp/docs/

[/none]
PluginOrder = ContentDirectory,FileList,BreadCrumbs
FileList = horizontal
BreadCrumbs = top
DocumentTemplate = none
ContentDirectory = ../cgi-bin/Crimp/docs/

[/bluerobot-left]
PluginOrder = ContentDirectory,FileList,BreadCrumbs
FileList = vertical
BreadCrumbs = top
DocumentTemplate = ../template/bluerobot-left.html
ContentDirectory = ../cgi-bin/Crimp/docs/

[/bluerobot-right]
PluginOrder = ContentDirectory,FileList,BreadCrumbs
FileList = vertical
BreadCrumbs = top
DocumentTemplate = ../template/bluerobot-right.html
ContentDirectory = ../cgi-bin/Crimp/docs/


############################################################

[/db]
# set to on here, although any setting (not null) will cause the module to work
ContentDatabase = on
DBType = mysql
DBName = test
DBTable = test
DBHost = localhost
DBUserName = test
DBUserPass = test

[/admin]
# set to on here, although any setting (not null) will cause the module to work
CrimpAdmin = on
