/* main debug table */
.pd-table {
	background-color: #000;
        color: #fff;
	width: 100%;
	border-collapse: collapse;
        font-family: monospace;
        font-size: 10pt;
}
.pd-td { vertical-align: top; }