<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Templates</title>
</head>
<body>
<h1>Templates</h1>
<br>
CRIMP is able to handle templates created from a single HTML/XHTML
document and this allows you to create templates in any style.<br>
Some modules also make use of the &lt;div
id='crimp[modulename]&gt;&lt;div&gt; tags which enables you to move
crimp content around on your page, set colours and fonts all by using
CSS in the standard way.<br>
<br>
To see different templates in action, simply select one from the
Directory links above.<br>
(please note, some templates will show directories and files that do
not exist... these are for demonstration purposes)<br>
<br>
</body>
</html>
