<?xml version="1.0" encoding="UTF-8"?>
<!-- the order of plugins is important. they are executed in the same order defined here,
    starting with the plugins defined in the requested section, followed by the globals -->
<crimp>
    <!-- root namespace declarations -->
    <debug>
        <switch>on</switch>
        <mode>inline</mode><!-- 'inline' or 'javascript' -->
    </debug>
    <!-- this ADDs to the title set in the template you choose, so best to
    either use this, and leave the template with an empty <title></title> or
    set the title in the <title> tags inside your template and leave this blank
    -->
    <sitetitle></sitetitle>
    <!--<titleorder>forward</titleorder>-->
    <!--<titleseparator> - </titleseparator>-->
    <vardir>./var</vardir>
    <errordir>./errordocs</errordir>
    <defaultlanguage>en</defaultlanguage>
    <template>./templates/default-crimp.html</template>
    <plugin>
        <name>breadCrumbs</name>
        <position>top</position><!-- either 'top', 'bottom' or 'both' -->
    </plugin>
    <plugin>
        <name>perl</name>
        <plugin>Snow</plugin>
        <parameter>on</parameter>
        <defer>no</defer>
    </plugin>
    <plugin>
        <name>perl</name>
        <plugin>PageVote</plugin>
        <parameter>Default</parameter>
        <defer>no</defer>
    </plugin>
    <plugin>
        <name>perl</name>
        <plugin>ButtonBar</plugin>
        <parameter>Default</parameter>
        <defer>yes</defer>
    </plugin>
    <!-- end root namespace declarations -->

    <!-- GLOBALS super section -->
    <globals>
    </globals>

    <!-- below here goes the individual section declarations -->
    <section>
        <name>/</name>
        <plugin>
            <name>contentDirectory</name>
            <directory>./docs</directory>
        </plugin>
        <plugin>
            <!-- fileList relies upon there being a contentDirectory plugin
                defined for the same section, or the globals special section,
                or in the root namespace -->
            <name>fileList</name>
            <orientation>horizontal</orientation>
        </plugin>
    </section>

    <section>
        <name>/blog</name>
        <plugin>
            <name>perl</name>
            <plugin>FlatBlog</plugin>
            <parameter>flatblog.example.html</parameter>
            <defer>no</defer>
        </plugin>
    </section>
</crimp>
